In [1]:
import pandas as pd
import numpy as nb

In [2]:
data=pd.read_csv(r"C:\MCA\SEM3\python\python_lab\realistic_students_data(1).csv")

In [3]:
data

                    Name  Age               City
0        Jennifer Nguyen   20        Serranoport
1           Joshua Smith   24          Kellyberg
2            Gavin Rubio   23  Port Williamhaven
3          Richard Young   23        Rachelshire
4        Jeffrey Gregory   18         Port Carla
..                   ...  ...                ...
95      Jennifer Delgado   25     Port Stephanie
96          Dwayne Lopez   24   New Caitlinhaven
97  Mrs. Sarah Mccoy DDS   22  West Michellefurt
98           Paul Morris   23   South Perryhaven
99      Dr. Sara Johnson   24         Lake Joyce

[100 rows x 3 columns]

In [4]:
print(data.shape)

(100, 3)

In [5]:
print(data.describe)

<bound method NDFrame.describe of                     Name  Age               City
0        Jennifer Nguyen   20        Serranoport
1           Joshua Smith   24          Kellyberg
2            Gavin Rubio   23  Port Williamhaven
3          Richard Young   23        Rachelshire
4        Jeffrey Gregory   18         Port Carla
..                   ...  ...                ...
95      Jennifer Delgado   25     Port Stephanie
96          Dwayne Lopez   24   New Caitlinhaven
97  Mrs. Sarah Mccoy DDS   22  West Michellefurt
98           Paul Morris   23   South Perryhaven
99      Dr. Sara Johnson   24         Lake Joyce

[100 rows x 3 columns]>

In [8]:
df = pd.DataFrame(data)
print(df)

                    Name  Age               City
0        Jennifer Nguyen   20        Serranoport
1           Joshua Smith   24          Kellyberg
2            Gavin Rubio   23  Port Williamhaven
3          Richard Young   23        Rachelshire
4        Jeffrey Gregory   18         Port Carla
..                   ...  ...                ...
95      Jennifer Delgado   25     Port Stephanie
96          Dwayne Lopez   24   New Caitlinhaven
97  Mrs. Sarah Mccoy DDS   22  West Michellefurt
98           Paul Morris   23   South Perryhaven
99      Dr. Sara Johnson   24         Lake Joyce

[100 rows x 3 columns]

In [9]:
df['New_Column'] = df['Age']
print(df)

                    Name  Age               City  New_Column
0        Jennifer Nguyen   20        Serranoport          20
1           Joshua Smith   24          Kellyberg          24
2            Gavin Rubio   23  Port Williamhaven          23
3          Richard Young   23        Rachelshire          23
4        Jeffrey Gregory   18         Port Carla          18
..                   ...  ...                ...         ...
95      Jennifer Delgado   25     Port Stephanie          25
96          Dwayne Lopez   24   New Caitlinhaven          24
97  Mrs. Sarah Mccoy DDS   22  West Michellefurt          22
98           Paul Morris   23   South Perryhaven          23
99      Dr. Sara Johnson   24         Lake Joyce          24

[100 rows x 4 columns]

In [11]:
df = df.fillna(0)
print(df)
df = df.dropna()#deletes the row with no value in any attribute
print(df)

                    Name  Age               City  New_Column
0        Jennifer Nguyen   20        Serranoport          20
1           Joshua Smith   24          Kellyberg          24
2            Gavin Rubio   23  Port Williamhaven          23
3          Richard Young   23        Rachelshire          23
4        Jeffrey Gregory   18         Port Carla          18
..                   ...  ...                ...         ...
95      Jennifer Delgado   25     Port Stephanie          25
96          Dwayne Lopez   24   New Caitlinhaven          24
97  Mrs. Sarah Mccoy DDS   22  West Michellefurt          22
98           Paul Morris   23   South Perryhaven          23
99      Dr. Sara Johnson   24         Lake Joyce          24

[100 rows x 4 columns]